<nav>
    <a href="/" class="active">Home</a>
    <a href="/members">Members</a>
</nav>

<div class="member">
    <img src="https://cdn.discordapp.com/avatars/{{member.user.id}}/{{member.user.avatar}}.png" alt="Atlantis profile picture">
    <span>{{member.user.username}}#{{member.user.discriminator}}<br><span class="small">({{member.user.id}})</span></span>
    <div class="stats">
        <p>Guilds: {{getGuildCount}}</p>
        <p>Users: {{getUsersCount}}</p>
        <p>Uptime: {{getUptime}}</p>
    </div>
</div>

<div class="staff">
    <h2>Atlantis Staff</h2>
    {{#each staff}}
        <div class="staffMember">
            <img src="{{getPfp .}}" alt="{{./userTag}} profile picture">
            <span>{{./userTag}}</span>
        </div>
    {{/each}}
</div>